@charset "UTF-8";
body{
    background-color: #f0f2f5;
}
main{
    background-color: white;
    height: 330px;
    width: 390px;
    margin-left: 760px;
    border-radius: 8px;    
    margin-top: -15em;
}
div p{
    font-size: 17px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: justify;
    margin-left: 6.3em;
    margin-top: -1em;
}

a1 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1877f2;
    text-decoration: none;
    margin-left: 127px;
}

div{
    margin-left: 175px;
    margin-top: 165px;
}

input{

    margin-left: 17PX;
    margin-top: 15px;
    height: 40px;
    width: 344px;
    border-radius: 5px;
    border-color: rgb(172, 172, 172);
    border-style: solid;
}

button{
    background-color: #166fe5;
    width: 347px;
    height: 47px;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 18px;
    border-radius: 6px;
    border-bottom: white;
    border-top: white;
    border-left: white;
    border-right: white;
    cursor: pointer;
}

